@import './markdown.css';

html {
  @apply scroll-pt-16 scroll-smooth;

  ::-webkit-scrollbar {
    @apply w-3 h-2;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    box-shadow: none;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-stone-200 dark:bg-slate-600 rounded-lg;
  }

  &.dark {
    ::-webkit-scrollbar-thumb  {
      @apply bg-slate-600;
    }
  }
}

body {
  @apply antialiased bg-light-soft;
  @apply text-neutral-800 dark:text-neutral-100;
  @apply snap-y snap-proximity;

  ::selection {
    @apply bg-orange-300;
  }
}

img {
  @apply max-w-full max-h-full;
}

hr {
  @apply text-gray-200 dark:text-slate-700;
}

.dark {
  body {
    @apply bg-slate-800;

    ::selection {
      @apply bg-orange-900;
    }
  }

  .gt {
    &-container {
      a {
        color: rgba(#eee, 0.8);
      }

      .gt-link {
        border-color: rgba(#eee, 0.8);
      }

      .gt-meta {
        border-color: rgba(#eee, 0.4);
      }
    }

    &-svg {
      svg {
        fill: rgba(#fff, 0.9) !important;
      }
    }

    &-header-textarea {
      @apply: bg-slate-600 hover:bg-slate-600;
    }

    &-popup {
      border-radius: 4px;

      a {
        color: #666;
      }
    }

    &-comment-body {
      @apply: !text-slate-200;
    }

    &-comment-content {
      @apply: !bg-slate-600 rounded;

      &:hover {
        box-shadow: 0 2px 15px 0 rgba(#999, 0.1) !important;
      }

      .gt-comment-username {
        @apply: text-slate-400;
      }
    }
  }
}
